.table {
   border: 1px solid #000000;
   border-collapse: collapse;
   margin:  0 auto;
}

.table thead tr {
   border-bottom: 1px solid #000000;
}

.table thead th {
   padding: 15px 10px;
}

.table tr td {
   padding: 10px 0;
   text-align: center;
}